:root{
    --primary-color: hsl(179, 62%, 43%);
    /* --primary-color-accent: hsla(179, 62%, 48%, 1); */
    /* --primary-color-accent: hsla(179, 68%, 43%, 1); */
    --primary-color-accent: #4ABFBC;
    --plain-color: hsl(0%, 0%, 100%);
    --secondary-color: hsl(204, 43%, 93%);
    --secondary-color-accent: hsl(218, 22%, 67%);
    --yellow-accent: hsl(71, 73%, 54%);

    .attribution {
        font-size: 11px; 
        text-align: center;
        margin-bottom: 1rem;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
       }
}
 

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


body{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: var(--secondary-color);
    min-height: 100vh;
    /* max-width: 1100px; */
}
.card-component{
    background-color: #FFF;
    width: 60%;
    /* min-height: 100vh; */
    border-radius: 0.512rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section{
    padding: 2rem 0;
    /* max-height: 20rem;*/
} 

.container{
    /* width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto; */

    width: 90%;
    margin: 0 auto;
    /* padding: 0 2rem; */
    max-width: 1128px;
}

.intro-section-title{
    color: var(--primary-color);
    font-family: 'Karla';
    font-weight: 700;
    font-size: 1.985rem;
}

.intro-text-group {
    margin: 1rem 0;
}

.intro-section-sub-title{
    color: var(--yellow-accent);
    font-size: 1rem;
    font-weight: 700;

    /* padding: 0 0 1rem 0; */
}

.intro-section-text{
    color: var(--secondary-color-accent);
    line-height: 2;
    margin-top: 0.5rem;
}

.pricing-section{
    color: #FFF;
    background-color: var(--primary-color);
}

.pricing-group-text {
    margin-top: 0.5rem;
}
.price-text{
    font-weight: 700;
    font-size: 2rem;
}
.price-duration{
    color: var(--secondary-color);
    font-size: 0.95rem;
    /* padding: 0.5rem; */
}

.span-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer-section{
    background-color: var(--primary-color-accent);
    color: var(--secondary-color);
    border-radius: 0 0 0.295rem 0.295rem;
    /* padding: 1rem 0; */
}

.footer-title {
    color: #FFF;
}
.footer-section-container{
    margin: 0.5rem 0;
}

.button{
    color: var(--secondary-color);
    text-align: center;
    font-weight: 700;
    font-size: 0.95rem;
    background-color: var(--yellow-accent);
    border: 0;
    border-radius: 0.295rem 0.295rem;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.10);
    margin: 2rem 0;
    overflow: hidden;
    padding: 0.85em 1.495em;
    width: 100%;
}

@media (min-width: 600px) {
    .intro-section-text {
        font-size: 1rem;
        font-weight: 500;
        /* margin-top: 0.5rem; */
    }

    .card-component{
        background-color: #FFF;
        width: 40rem;
        border-radius: 0.512rem;
        margin: 0 auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }


    .grid-group-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }

    .footer-section {
        border-radius: 0 0 0.495rem 0;
    }

    .pricing-section {
        border-radius: 0 0 0 0.495rem ;
    }

    .pricing-section, .footer-section {
        padding: 2rem 1rem;
    }

}

